<div class="card">
  <div class="m-4 income_statement">
    Top Trader
    <%= form_tag admin_top_trader_path, method: :get, class: "form-inline float-right" do |f| %>
      <div class="col">
        <%= text_field_tag :date_range, @date_range, class: "form-control", autocomplete: 'off' %>
        <%= submit_tag 'Search', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>




<div class="card">
  <%= table_for @trades, class: 'table table-condensed table-striped' do |t| %>
    <% t.column 'Member' do |x| %>
      <%= x[0][0]  %>
    <% end %>

    <% t.column 'Symbol' do |x| %>
      <%= x[0][1] %>
    <% end %>

    <% t.column 'Trade' do |x| %>
      <span class="h5"><%= x[1] %></span>
    <% end %> 
  <% end %>
 
</div>
 
