<tr>
  <td><%= Time.parse(campaign["request_date"]) %></td>
  <td><%= campaign["campaign_name"] %></td>
  <td><%= campaign["receive_currency"] %></td>
  <td><%= campaign["receive_amount"] %></td>
  <td><%= campaign["remark"] %></td>
</tr>
