<form action="https://secure.awepay.com/txHandler.php" method="post">
	sid: <select name="sid" id="">
    <option value="2660">MYR</option>
    <option value="2661">THB</option>
    <option value="2662">IDR</option>
    <option value="2663">VND</option>
    <option value="2664">KRW</option>
    </select><BR>
	<input type="hidden" name="postback_url" value="<%= @postback_url %>" readonly><BR>
    <input type="hidden" name="card_type" value="p2p" readonly><BR>
    <input type="hidden" name="tx_action" value="PAYOUT" readonly><BR>
    amount: <input type="text" name="amount" value="<%= @amount %>" readonly><BR>
    currency: <input type="text" name="currency" value="<%= @currency %>" readonly><BR>
    bank_acc_holder: <input type="text" name="account_name" value=""><BR>
    bank_acc_no: <input type="text" name="account_number" value=""><BR>
    bank: <select name="bank_code" id="">
    <option value="" disabled>MYR</option>
    <option value="CIMB">CIMB Bank</option>
    <option value="HLB">Hong Leong Bank</option>
    <option value="MBB">MayBank</option>
    <option value="PBB">Public Bank</option>
    <option value="RHB">RHB Bank</option>
    <option value="" disabled>VND</option>
    <option value="TCB">Techcom Bank</option>
    <option value="SCM">Sacom Bank</option>
    <option value="VCB">Vietcom Bank</option>
    <option value="ACB">Asia Commercial Bank</option>
    <option value="DAB">DongA Bank</option>
    <option value="VTB">Vietin Bank</option>
    <option value="BIDV">BIDV Bank</option>
    <option value="EXIM">Exim Bank</option>
    <option value="" disabled>THB</option>
    <option value="KTB">Krung Thai Bank</option>
    <option value="SCB">Siam Commercial Bank</option>
    <option value="BBL">Bangkok Bank</option>
    <option value="KBANK">Kasikorn Bank</option>
    <option value="TMB">Thai Military Bank</option>
    <option value="BAY">Krungsri Bank</option>
    <option value="" disabled>IDR</option>
    <option value="BRI">Bank Rakyat Indonesia</option>
    <option value="BNI">Bank Negara Indonesia</option>
    <option value="BCA">Bank Cetran Asia</option>
    <option value="MDR">Bank Mandiri</option>
    </select><BR>
    
	<input type="hidden" name="successurl" value="<%= @successurl %>" readonly><BR>
	<input type="hidden" name="failureurl" value="<%= @failureurl %>" readonly><BR>

    <input type="hidden" name="ref1" value="<%= @ref1 %>" readonly><BR>
    <input type="hidden" name="ref2" value="<%= @ref2 %>" readonly><BR>

	<input type="submit">
</form>
