<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>New Campaign</h3>
  <div>
    <%= link_to "Back", admin_campaigns_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="card card-primary">
  <div class="card-header">
    Campaign Details
  </div>
  <div class="card-body">
    <%= form_tag admin_campaigns_path, method: :post do %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :from_date, 'From' %>
            <%= datetime_local_field :from_date, @from_date, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :to_date, 'To' %>
            <%= datetime_local_field :to_date, @to_date, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :campaign_name, 'Campaign Name' %>
            <%= text_field_tag :campaign_name, @campaign_name, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :campaign_type, 'Campaign Type' %>
            <%= select_tag :campaign_type, options_for_select(@campaign_types, @campaign_type), include_blank: "Select a campaign type", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :audience_type, 'Audience Type' %>
            <%= select_tag :audience_type, options_for_select(@audience_types, @audience_type), include_blank: "Select an audience type", class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :reward_type, 'Reward Type' %>
            <%= select_tag :reward_type, options_for_select(@reward_types, @reward_type), include_blank: "Select a reward type", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :reward_currency, 'Reward Currency' %>
            <%= select_tag :reward_currency, options_for_select(@reward_currencies, @reward_currency), include_blank: "Select a reward currency", class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :reward_amount, 'Reward Amount' %>
            <%= number_field_tag :reward_amount, @reward_amount, step: :any, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :calculation_type, 'Calculation Type' %>
            <%= select_tag :calculation_type, options_for_select(@calculation_types, @calculation_type), include_blank: "Select a calculation type", class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag :status %>
            <%= select_tag :status, options_for_select(['ACTIVE', 'INACTIVE'], @status), include_blank: "Select a status", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :description %>
        <%= text_area_tag :description, @description, size: "24x3", class: "form-control" %>
      </div>
      <%= submit_tag 'Submit', class: "btn btn-primary mt-3 float-right", data: {confirm: "Are you sure to create this campaign? The campaign will be triggered when it is active and fulfilled."} %>
    <% end %>
  </div>
</div>
