<div class="d-flex justify-content-between align-items-center mb-3">
  <h3><%= @campaign["campaign_name"] %></h3>
  <div>
    <%= link_to "Edit", edit_admin_campaign_path(@campaign["id"]), class: "btn btn-primary mr-1" %>
    <%= link_to "Back", admin_campaigns_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="card card-primary">
  <div class="card-header">
    Campaign Details
  </div>
  <div class="card-body">
    <dl class="row">
      <strong class="col-sm-4 text-right">From</strong>
      <dd class="col-sm-8"><%= Time.parse(@campaign["from_date"]) %><br></dd>
      <strong class="col-sm-4 text-right">To</strong>
      <dd class="col-sm-8"><%= Time.parse(@campaign["to_date"]) %><br></dd>
      <strong class="col-sm-4 text-right">Campaign Name</strong>
      <dd class="col-sm-8"><%= @campaign["campaign_name"] %><br></dd>
      <strong class="col-sm-4 text-right">Audience Type</strong>
      <dd class="col-sm-8"><%= @campaign["audience_type"] %><br></dd>
      <strong class="col-sm-4 text-right">Execution Type</strong>
      <dd class="col-sm-8"><%= @campaign["execution_type"] %><br></dd>
      <strong class="col-sm-4 text-right">Execution Frequency</strong>
      <dd class="col-sm-8"><%= @campaign["frequency"] || "-" %><br></dd>
      <strong class="col-sm-4 text-right">Next Executed At</strong>
      <dd class="col-sm-8">
        <% if @campaign["next_executed_at"] %>
          <%= Time.parse(@campaign["next_executed_at"]) %>
        <% else %>
          -
        <% end %><br>
      </dd>
      <strong class="col-sm-4 text-right">Last Executed At</strong>
      <dd class="col-sm-8">
        <% if @campaign["last_executed_at"] %>
          <%= Time.parse(@campaign["last_executed_at"]) %>
        <% else %>
          -
        <% end %><br>
      </dd>
      <strong class="col-sm-4 text-right">Campaign Types</strong>
      <dd class="col-sm-8"><%= @campaign["campaign_type"] %><br></dd>
      <strong class="col-sm-4 text-right">Incentive Type</strong>
      <dd class="col-sm-8"><%= @campaign["reward_type"] %><br></dd>
      <strong class="col-sm-4 text-right">Incentive Currency</strong>
      <dd class="col-sm-8"><%= @campaign["reward_currency"] %><br></dd>
      <strong class="col-sm-4 text-right">Incentive Amount</strong>
      <dd class="col-sm-8"><%= @campaign["reward_amount"] %><br></dd>
      <strong class="col-sm-4 text-right">Calculation Type</strong>
      <dd class="col-sm-8"><%= @campaign["calculation_type"] %><br></dd>
      <strong class="col-sm-4 text-right">Occurence</strong>
      <dd class="col-sm-8"><%= @campaign["occurence"] %><br></dd>
      <strong class="col-sm-4 text-right">Description</strong>
      <dd class="col-sm-8"><%= @campaign["description"] %><br></dd>
      <strong class="col-sm-4 text-right">Status</strong>
      <dd class="col-sm-8"><%= @campaign["status"] %><br></dd>
      <strong class="col-sm-4 text-right">Data</strong>
      <dd class="col-sm-8"><%= @campaign["option_data"] %><br></dd>
    </dl>
  </div>
</div>
<!--
<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Campaign Posts</h3>
  <%= link_to "Add Post", add_post_admin_campaign_path(@campaign["id"]), class: "btn btn-primary mr-1" %>
</div>

<div class="card table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th><%= sort_link("Created At", "created_at") %></th>
        <th><%= sort_link("Published At", "published_at") %></th>
        <th><%= sort_link("Subject", "subject") %></th>
        <th><%= sort_link("Body", "body") %></th>
        <th><%= sort_link("Status", "status") %></th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @campaign_posts.each do |campaign_post| %>
        <tr>
          <td><%= Time.parse(campaign_post["created_at"]) %></td>
          <td>
            <% if campaign_post["published_at"] %>
              <%= Time.parse(campaign_post["published_at"]) %>
            <% end %>
          </td>
          <td><%= campaign_post["subject"] %></td>
          <td><%= campaign_post["body"] %></td>
          <% case campaign_post["status"] %>
          <% when 'published' %>
            <td class="text-success"><%= campaign_post["status"].upcase %>
          <% when 'unpublished' %>
            <td class="text-danger"><%= campaign_post["status"].upcase %>
          <% when 'new' %>
            <td class="text-info"><%= campaign_post["status"].upcase %>
          <% end %>
          <td><%= link_to "View", admin_campaign_post_path(campaign_post["id"]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> -->
<%= paginate @campaign_posts %>
